- @gfm_form = true
- current_text ||= nil
- supports_quick_actions = local_assigns.fetch(:supports_quick_actions, false)
.zen-backdrop
  - classes << ' js-gfm-input js-autosize markdown-area'
  - if defined?(f) && f
    = f.text_area attr, class: classes, placeholder: placeholder, data: { supports_quick_actions: supports_quick_actions }
  - else
    = text_area_tag attr, current_text, class: classes, placeholder: placeholder
  %a.zen-control.zen-control-leave.js-zen-leave{ href: "#" }
    = icon('compress')
